# Node.js
/node_modules
/package-lock.json
/yarn.lock

# Environment Files
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/

# Build output
/dist
/build

# npm package lock files
package-lock.json

# Optional: Ignore test coverage reports if you use a testing framework like Mocha/Chai
/coverage

# Other files you may want to ignore (optional)
*.env
